body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29001 {
  position:absolute;
  left:50px;
  top:100px;
  width:405px;
  height:345px;
}
#u29002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29002 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u29003 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29004 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u29005 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29006 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29007 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29008 {
  position:absolute;
  left:200px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29009 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29010 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29011 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29012 {
  position:absolute;
  left:200px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29013 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29014 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29015 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29016 {
  position:absolute;
  left:200px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29017 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29018 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29019 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29020 {
  position:absolute;
  left:200px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29021 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29022 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29023 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29024 {
  position:absolute;
  left:200px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29025 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29026 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29027 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29028 {
  position:absolute;
  left:200px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29029 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29030 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29031 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29032 {
  position:absolute;
  left:200px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29033 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29034 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u29035 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29036 {
  position:absolute;
  left:200px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29037 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29038 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u29039 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29040 {
  position:absolute;
  left:200px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29041 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29042 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u29043 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29044 {
  position:absolute;
  left:200px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29045 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29046 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u29047 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29048 {
  position:absolute;
  left:200px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29049 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29050 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u29051 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29052 {
  position:absolute;
  left:200px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29053 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29054 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u29055 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29056 {
  position:absolute;
  left:200px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29057 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29058 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29059 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29060 {
  position:absolute;
  left:200px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29061 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29062 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29063 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29064 {
  position:absolute;
  left:200px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29065 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29066 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29067 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29068 {
  position:absolute;
  left:200px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u29069 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u29070 {
  position:absolute;
  left:50px;
  top:500px;
  width:400px;
  height:240px;
  line-height:20px;
}
#u29071 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u29072 {
  position:absolute;
  left:320px;
  top:20px;
  width:160px;
  height:25px;
}
#u29072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29072_input {
  font-family:'应用字体';
}
#u29073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29073 {
  position:absolute;
  left:250px;
  top:25px;
  width:90px;
  height:16px;
}
#u29074 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29075 {
  position:absolute;
  left:520px;
  top:25px;
  width:90px;
  height:16px;
}
#u29076 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29077 {
  position:absolute;
  left:50px;
  top:20px;
  width:150px;
  height:25px;
}
#u29077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29077_input {
  font-family:'应用字体';
}
#u29077_input:disabled {
  color:grayText;
}
#u29078 {
  position:absolute;
  left:590px;
  top:20px;
  width:160px;
  height:25px;
}
#u29078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29078_input {
  font-family:'应用字体';
}
#u29079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29079 {
  position:absolute;
  left:800px;
  top:20px;
  width:60px;
  height:25px;
}
#u29080 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29081 {
  position:absolute;
  left:870px;
  top:20px;
  width:60px;
  height:25px;
}
#u29082 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29083 {
  position:absolute;
  left:470px;
  top:350px;
  width:170px;
  height:16px;
}
#u29084 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u29085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:283px;
}
#u29085 {
  position:absolute;
  left:470px;
  top:380px;
  width:347px;
  height:283px;
}
#u29086 {
  position:absolute;
  left:2px;
  top:134px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
