body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17019 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:285px;
}
#u17020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17020 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17021 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17022 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17023 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17024 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17025 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17026 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17027 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17028 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17029 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17030 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17031 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17032 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17033 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17034 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17035 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17036 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17037 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17038 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17039 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17040 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17041 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17042 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17043 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17044 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17045 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u17046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u17046 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u17047 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17048 {
  position:absolute;
  left:320px;
  top:100px;
  width:160px;
  height:25px;
}
#u17048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17048_input {
  font-family:'应用字体';
}
#u17049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17049 {
  position:absolute;
  left:250px;
  top:105px;
  width:90px;
  height:16px;
}
#u17050 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17051 {
  position:absolute;
  left:520px;
  top:105px;
  width:90px;
  height:16px;
}
#u17052 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17053 {
  position:absolute;
  left:50px;
  top:100px;
  width:150px;
  height:25px;
}
#u17053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17053_input {
  font-family:'应用字体';
}
#u17053_input:disabled {
  color:grayText;
}
#u17054 {
  position:absolute;
  left:590px;
  top:100px;
  width:160px;
  height:25px;
}
#u17054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17054_input {
  font-family:'应用字体';
}
#u17055 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u17055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17055_input {
  font-family:'应用字体';
}
#u17056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17056 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u17057 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u17058 {
  position:absolute;
  left:400px;
  top:20px;
  width:160px;
  height:25px;
}
#u17058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17058_input {
  font-family:'应用字体';
}
#u17059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17059 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u17060 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u17061 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:25px;
}
#u17061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17061_input {
  font-family:'应用字体';
}
#u17062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17062 {
  position:absolute;
  left:330px;
  top:65px;
  width:107px;
  height:16px;
}
#u17063 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u17064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17064 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u17065 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u17066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17066 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u17067 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u17068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17068 {
  position:absolute;
  left:610px;
  top:25px;
  width:123px;
  height:16px;
}
#u17069 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u17070 {
  position:absolute;
  left:680px;
  top:20px;
  width:160px;
  height:25px;
}
#u17070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17070_input {
  font-family:'应用字体';
}
#u17070_input:disabled {
  color:grayText;
}
#u17071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17071 {
  position:absolute;
  left:50px;
  top:66px;
  width:107px;
  height:16px;
}
#u17072 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u17073 {
  position:absolute;
  left:120px;
  top:61px;
  width:160px;
  height:25px;
}
#u17073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17073_input {
  font-family:'应用字体';
}
#u17073_input:disabled {
  color:grayText;
}
