body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30328 {
  position:absolute;
  left:50px;
  top:130px;
  width:205px;
  height:325px;
}
#u30329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30329 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30330 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30331 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30332 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30333 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30334 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30335 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30336 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30337 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30338 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30339 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30340 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30341 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30342 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30343 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30344 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30345 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30346 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30347 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30348 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30349 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30350 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30351 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30352 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30353 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30354 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30355 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30356 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30357 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30358 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30359 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30360 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30361 {
  position:absolute;
  left:320px;
  top:90px;
  width:160px;
  height:25px;
}
#u30361_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30361_input {
  font-family:'应用字体';
}
#u30362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30362 {
  position:absolute;
  left:250px;
  top:95px;
  width:90px;
  height:16px;
}
#u30363 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30364 {
  position:absolute;
  left:520px;
  top:95px;
  width:90px;
  height:16px;
}
#u30365 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30366 {
  position:absolute;
  left:50px;
  top:90px;
  width:150px;
  height:25px;
}
#u30366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30366_input {
  font-family:'应用字体';
}
#u30366_input:disabled {
  color:grayText;
}
#u30367 {
  position:absolute;
  left:590px;
  top:90px;
  width:160px;
  height:25px;
}
#u30367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30367_input {
  font-family:'应用字体';
}
#u30368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30368 {
  position:absolute;
  left:800px;
  top:90px;
  width:60px;
  height:25px;
}
#u30369 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u30370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30370 {
  position:absolute;
  left:870px;
  top:90px;
  width:60px;
  height:25px;
}
#u30371 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u30372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30372 {
  position:absolute;
  left:50px;
  top:60px;
  width:123px;
  height:16px;
}
#u30373 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30374 {
  position:absolute;
  left:120px;
  top:55px;
  width:160px;
  height:25px;
}
#u30374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30374_input {
  font-family:'应用字体';
}
#u30374_input:disabled {
  color:grayText;
}
#u30375 {
  position:absolute;
  left:390px;
  top:20px;
  width:160px;
  height:25px;
}
#u30375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30375_input {
  font-family:'应用字体';
}
#u30376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30376 {
  position:absolute;
  left:320px;
  top:25px;
  width:123px;
  height:16px;
}
#u30377 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30378 {
  position:absolute;
  left:660px;
  top:20px;
  width:160px;
  height:25px;
}
#u30378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30378_input {
  font-family:'应用字体';
}
#u30379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30379 {
  position:absolute;
  left:590px;
  top:25px;
  width:123px;
  height:16px;
}
#u30380 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30381 {
  position:absolute;
  left:320px;
  top:60px;
  width:123px;
  height:16px;
}
#u30382 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30383 {
  position:absolute;
  left:390px;
  top:55px;
  width:160px;
  height:25px;
}
#u30383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30383_input {
  font-family:'应用字体';
}
#u30383_input:disabled {
  color:grayText;
}
#u30384 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u30384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30384_input {
  font-family:'应用字体';
}
#u30385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30385 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u30386 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
