body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36051 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:225px;
}
#u36052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36052 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u36053 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36054 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36055 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36056 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u36057 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36058 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u36059 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36060 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u36061 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36062 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36063 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36064 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36065 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36066 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36067 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36068 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36069 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36070 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36071 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36072 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u36073 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u36074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u36074 {
  position:absolute;
  left:50px;
  top:420px;
  width:300px;
  height:16px;
  color:#FF0000;
}
#u36075 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u36076 {
  position:absolute;
  left:320px;
  top:100px;
  width:160px;
  height:25px;
}
#u36076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36076_input {
  font-family:'应用字体';
}
#u36077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36077 {
  position:absolute;
  left:250px;
  top:105px;
  width:90px;
  height:16px;
}
#u36078 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u36079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36079 {
  position:absolute;
  left:520px;
  top:105px;
  width:90px;
  height:16px;
}
#u36080 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u36081 {
  position:absolute;
  left:50px;
  top:100px;
  width:150px;
  height:25px;
}
#u36081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36081_input {
  font-family:'应用字体';
}
#u36081_input:disabled {
  color:grayText;
}
#u36082 {
  position:absolute;
  left:590px;
  top:100px;
  width:160px;
  height:25px;
}
#u36082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36082_input {
  font-family:'应用字体';
}
#u36083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36083 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u36084 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u36085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36085 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u36086 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u36087 {
  position:absolute;
  left:120px;
  top:60px;
  width:160px;
  height:25px;
}
#u36087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36087_input {
  font-family:'应用字体';
}
#u36088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36088 {
  position:absolute;
  left:50px;
  top:65px;
  width:123px;
  height:16px;
}
#u36089 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u36090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36090 {
  position:absolute;
  left:330px;
  top:65px;
  width:107px;
  height:16px;
}
#u36091 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u36092 {
  position:absolute;
  left:400px;
  top:61px;
  width:160px;
  height:25px;
}
#u36092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36092_input {
  font-family:'应用字体';
}
#u36092_input:disabled {
  color:grayText;
}
#u36093 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u36093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36093_input {
  font-family:'应用字体';
}
#u36094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36094 {
  position:absolute;
  left:50px;
  top:25px;
  width:90px;
  height:16px;
}
#u36095 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u36096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36096 {
  position:absolute;
  left:320px;
  top:25px;
  width:90px;
  height:16px;
}
#u36097 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u36098 {
  position:absolute;
  left:390px;
  top:20px;
  width:160px;
  height:25px;
}
#u36098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36098_input {
  font-family:'应用字体';
}
#u36099 {
  position:absolute;
  left:570px;
  top:25px;
  width:100px;
  height:16px;
}
#u36100 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u36099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
