body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21232 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:405px;
}
#u21233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21233 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21234 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21235 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21236 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21237 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21238 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21239 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21240 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21241 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21242 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21243 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21244 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21245 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21246 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21247 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21248 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21249 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21250 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21251 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21252 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21253 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21254 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21255 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21256 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21257 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21258 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21259 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21260 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21261 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21262 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21263 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21264 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21265 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21266 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21267 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21268 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21269 {
  position:absolute;
  left:0px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21270 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21271 {
  position:absolute;
  left:0px;
  top:380px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21272 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21273 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u21273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21273_input {
  font-family:'应用字体';
}
#u21274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21274 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u21275 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u21276 {
  position:absolute;
  left:400px;
  top:20px;
  width:160px;
  height:25px;
}
#u21276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21276_input {
  font-family:'应用字体';
}
#u21277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21277 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u21278 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21279 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:25px;
}
#u21279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21279_input {
  font-family:'应用字体';
}
#u21280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21280 {
  position:absolute;
  left:330px;
  top:65px;
  width:107px;
  height:16px;
}
#u21281 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21282 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u21283 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u21284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21284 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u21285 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u21286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21286 {
  position:absolute;
  left:610px;
  top:25px;
  width:123px;
  height:16px;
}
#u21287 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u21288 {
  position:absolute;
  left:120px;
  top:60px;
  width:160px;
  height:25px;
}
#u21288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21288_input {
  font-family:'应用字体';
}
#u21289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21289 {
  position:absolute;
  left:50px;
  top:65px;
  width:107px;
  height:16px;
}
#u21290 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21291 {
  position:absolute;
  left:610px;
  top:65px;
  width:107px;
  height:16px;
}
#u21292 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21293 {
  position:absolute;
  left:680px;
  top:60px;
  width:160px;
  height:25px;
}
#u21293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21293_input {
  font-family:'应用字体';
}
#u21293_input:disabled {
  color:grayText;
}
#u21294 {
  position:absolute;
  left:680px;
  top:20px;
  width:160px;
  height:25px;
}
#u21294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21294_input {
  font-family:'应用字体';
}
#u21294_input:disabled {
  color:grayText;
}
#u21295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21295 {
  position:absolute;
  left:890px;
  top:65px;
  width:107px;
  height:16px;
}
#u21296 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21297 {
  position:absolute;
  left:960px;
  top:60px;
  width:160px;
  height:25px;
}
#u21297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21297_input {
  font-family:'应用字体';
}
#u21297_input:disabled {
  color:grayText;
}
#u21298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u21298 {
  position:absolute;
  left:450px;
  top:550px;
  width:317px;
  height:50px;
  line-height:20px;
}
#u21299 {
  position:absolute;
  left:5px;
  top:5px;
  width:307px;
  white-space:nowrap;
}
