body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29237 {
  position:absolute;
  left:50px;
  top:100px;
  width:205px;
  height:305px;
}
#u29238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29238 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29239 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29240 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29241 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29242 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29243 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29244 {
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29245 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29246 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29247 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29248 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29249 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29250 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29251 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29252 {
  position:absolute;
  left:0px;
  top:210px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29253 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29254 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29255 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29256 {
  position:absolute;
  left:0px;
  top:270px;
  width:200px;
  height:30px;
  text-align:left;
}
#u29257 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29258 {
  position:absolute;
  left:320px;
  top:60px;
  width:160px;
  height:25px;
}
#u29258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29258_input {
  font-family:'应用字体';
}
#u29259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29259 {
  position:absolute;
  left:250px;
  top:65px;
  width:90px;
  height:16px;
}
#u29260 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29261 {
  position:absolute;
  left:520px;
  top:65px;
  width:90px;
  height:16px;
}
#u29262 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29263 {
  position:absolute;
  left:50px;
  top:60px;
  width:150px;
  height:25px;
}
#u29263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29263_input {
  font-family:'应用字体';
}
#u29263_input:disabled {
  color:grayText;
}
#u29264 {
  position:absolute;
  left:590px;
  top:60px;
  width:160px;
  height:25px;
}
#u29264_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29264_input {
  font-family:'应用字体';
}
#u29265 {
  position:absolute;
  left:140px;
  top:20px;
  width:160px;
  height:25px;
}
#u29265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29265_input {
  font-family:'应用字体';
}
#u29266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29266 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u29267 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u29268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29268 {
  position:absolute;
  left:800px;
  top:60px;
  width:60px;
  height:25px;
}
#u29269 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29270 {
  position:absolute;
  left:870px;
  top:60px;
  width:60px;
  height:25px;
}
#u29271 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29272 {
  position:absolute;
  left:420px;
  top:20px;
  width:160px;
  height:25px;
}
#u29272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29272_input {
  font-family:'应用字体';
}
#u29273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29273 {
  position:absolute;
  left:330px;
  top:25px;
  width:123px;
  height:16px;
}
#u29274 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u29275 {
  position:absolute;
  left:620px;
  top:25px;
  width:100px;
  height:16px;
}
#u29276 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29275_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u29277 {
  position:absolute;
  left:320px;
  top:110px;
  width:400px;
  height:48px;
  color:#FF0000;
}
#u29278 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
