body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30103 {
  position:absolute;
  left:50px;
  top:180px;
  width:205px;
  height:445px;
}
#u30104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30104 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u30105 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30106 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30107 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30108 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30109 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30110 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30111 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30112 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30113 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30114 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30115 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30116 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30117 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30118 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30119 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30120 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30121 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30122 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30123 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30124 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30125 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30126 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30127 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30128 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30129 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30130 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30131 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30132 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30133 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30134 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30135 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30136 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30137 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30138 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30139 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30140 {
  position:absolute;
  left:0px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30141 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30142 {
  position:absolute;
  left:0px;
  top:380px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30143 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30144 {
  position:absolute;
  left:0px;
  top:400px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30145 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30146 {
  position:absolute;
  left:0px;
  top:420px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30147 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30148 {
  position:absolute;
  left:320px;
  top:130px;
  width:160px;
  height:25px;
}
#u30148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30148_input {
  font-family:'应用字体';
}
#u30149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30149 {
  position:absolute;
  left:250px;
  top:135px;
  width:90px;
  height:16px;
}
#u30150 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30151 {
  position:absolute;
  left:520px;
  top:135px;
  width:90px;
  height:16px;
}
#u30152 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30153 {
  position:absolute;
  left:50px;
  top:130px;
  width:150px;
  height:25px;
}
#u30153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30153_input {
  font-family:'应用字体';
}
#u30153_input:disabled {
  color:grayText;
}
#u30154 {
  position:absolute;
  left:590px;
  top:130px;
  width:160px;
  height:25px;
}
#u30154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30154_input {
  font-family:'应用字体';
}
#u30155 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u30155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30155_input {
  font-family:'应用字体';
}
#u30156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30156 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u30157 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30158 {
  position:absolute;
  left:120px;
  top:55px;
  width:160px;
  height:25px;
}
#u30158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30158_input {
  font-family:'应用字体';
}
#u30159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30159 {
  position:absolute;
  left:50px;
  top:60px;
  width:107px;
  height:16px;
}
#u30160 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30161 {
  position:absolute;
  left:400px;
  top:55px;
  width:160px;
  height:25px;
}
#u30161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30161_input {
  font-family:'应用字体';
}
#u30162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30162 {
  position:absolute;
  left:330px;
  top:60px;
  width:107px;
  height:16px;
}
#u30163 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30164 {
  position:absolute;
  left:800px;
  top:130px;
  width:60px;
  height:25px;
}
#u30165 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u30166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30166 {
  position:absolute;
  left:870px;
  top:130px;
  width:60px;
  height:25px;
}
#u30167 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u30168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30168 {
  position:absolute;
  left:50px;
  top:95px;
  width:123px;
  height:16px;
}
#u30169 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30170 {
  position:absolute;
  left:400px;
  top:90px;
  width:160px;
  height:25px;
}
#u30170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30170_input {
  font-family:'应用字体';
}
#u30171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30171 {
  position:absolute;
  left:330px;
  top:95px;
  width:107px;
  height:16px;
}
#u30172 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30173 {
  position:absolute;
  left:610px;
  top:95px;
  width:107px;
  height:16px;
}
#u30174 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30175 {
  position:absolute;
  left:680px;
  top:90px;
  width:160px;
  height:25px;
}
#u30175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30175_input {
  font-family:'应用字体';
}
#u30175_input:disabled {
  color:grayText;
}
#u30176 {
  position:absolute;
  left:120px;
  top:90px;
  width:160px;
  height:25px;
}
#u30176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30176_input {
  font-family:'应用字体';
}
#u30176_input:disabled {
  color:grayText;
}
#u30177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u30177 {
  position:absolute;
  left:450px;
  top:380px;
  width:317px;
  height:50px;
  line-height:20px;
}
#u30178 {
  position:absolute;
  left:5px;
  top:5px;
  width:307px;
  white-space:nowrap;
}
#u30179 {
  position:absolute;
  left:330px;
  top:25px;
  width:100px;
  height:16px;
}
#u30180 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u30179_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
