body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21039 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:405px;
}
#u21040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21040 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21041 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21042 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21043 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21044 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21045 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21046 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21047 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21048 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21049 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21050 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21051 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21052 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21053 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21054 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21055 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21056 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21057 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21058 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21059 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21060 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21061 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21062 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21063 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21064 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21065 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21066 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21067 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21068 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21069 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21070 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21071 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21072 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21073 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21074 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21075 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21076 {
  position:absolute;
  left:0px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21077 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21078 {
  position:absolute;
  left:0px;
  top:380px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21079 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21080 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u21080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21080_input {
  font-family:'应用字体';
}
#u21081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21081 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u21082 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u21083 {
  position:absolute;
  left:400px;
  top:20px;
  width:160px;
  height:25px;
}
#u21083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21083_input {
  font-family:'应用字体';
}
#u21084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21084 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u21085 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21086 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:25px;
}
#u21086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21086_input {
  font-family:'应用字体';
}
#u21087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21087 {
  position:absolute;
  left:330px;
  top:65px;
  width:107px;
  height:16px;
}
#u21088 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21089 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u21090 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u21091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21091 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u21092 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u21093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21093 {
  position:absolute;
  left:610px;
  top:25px;
  width:123px;
  height:16px;
}
#u21094 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u21095 {
  position:absolute;
  left:120px;
  top:60px;
  width:160px;
  height:25px;
}
#u21095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21095_input {
  font-family:'应用字体';
}
#u21096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21096 {
  position:absolute;
  left:50px;
  top:65px;
  width:107px;
  height:16px;
}
#u21097 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21098 {
  position:absolute;
  left:610px;
  top:65px;
  width:107px;
  height:16px;
}
#u21099 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21100 {
  position:absolute;
  left:680px;
  top:60px;
  width:160px;
  height:25px;
}
#u21100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21100_input {
  font-family:'应用字体';
}
#u21100_input:disabled {
  color:grayText;
}
#u21101 {
  position:absolute;
  left:680px;
  top:20px;
  width:160px;
  height:25px;
}
#u21101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21101_input {
  font-family:'应用字体';
}
#u21101_input:disabled {
  color:grayText;
}
#u21102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21102 {
  position:absolute;
  left:890px;
  top:65px;
  width:107px;
  height:16px;
}
#u21103 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21104 {
  position:absolute;
  left:960px;
  top:60px;
  width:160px;
  height:25px;
}
#u21104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21104_input {
  font-family:'应用字体';
}
#u21104_input:disabled {
  color:grayText;
}
#u21105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u21105 {
  position:absolute;
  left:450px;
  top:550px;
  width:317px;
  height:50px;
  line-height:20px;
}
#u21106 {
  position:absolute;
  left:5px;
  top:5px;
  width:307px;
  white-space:nowrap;
}
