body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38428 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:345px;
}
#u38429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38429 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38430 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38431 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38432 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38433 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u38434 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38435 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38436 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38437 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38438 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38439 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38440 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38441 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38442 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38443 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38444 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38445 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38446 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38447 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38448 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38449 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38450 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38451 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38452 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38453 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38454 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38455 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38456 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38457 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38458 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38459 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38460 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38461 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38462 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38463 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u38463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38463_input {
  font-family:'应用字体';
}
#u38464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u38464 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
  color:#FF0000;
}
#u38465 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u38466 {
  position:absolute;
  left:400px;
  top:21px;
  width:160px;
  height:25px;
}
#u38466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38466_input {
  font-family:'应用字体';
}
#u38467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38467 {
  position:absolute;
  left:330px;
  top:26px;
  width:107px;
  height:16px;
}
#u38468 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38469 {
  position:absolute;
  left:120px;
  top:60px;
  width:160px;
  height:25px;
}
#u38469_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38469_input {
  font-family:'应用字体';
}
#u38470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38470 {
  position:absolute;
  left:50px;
  top:65px;
  width:107px;
  height:16px;
}
#u38471 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38472 {
  position:absolute;
  left:870px;
  top:60px;
  width:60px;
  height:25px;
}
#u38473 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u38474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38474 {
  position:absolute;
  left:940px;
  top:60px;
  width:60px;
  height:25px;
}
#u38475 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u38476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38476 {
  position:absolute;
  left:330px;
  top:65px;
  width:123px;
  height:16px;
}
#u38477 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u38478 {
  position:absolute;
  left:680px;
  top:60px;
  width:160px;
  height:25px;
}
#u38478_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38478_input {
  font-family:'应用字体';
}
#u38479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38479 {
  position:absolute;
  left:610px;
  top:65px;
  width:107px;
  height:16px;
}
#u38480 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38481 {
  position:absolute;
  left:50px;
  top:105px;
  width:107px;
  height:16px;
}
#u38482 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38483 {
  position:absolute;
  left:120px;
  top:100px;
  width:160px;
  height:25px;
}
#u38483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38483_input {
  font-family:'应用字体';
}
#u38483_input:disabled {
  color:grayText;
}
#u38484 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:25px;
}
#u38484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38484_input {
  font-family:'应用字体';
}
#u38484_input:disabled {
  color:grayText;
}
#u38485 {
  position:absolute;
  left:610px;
  top:25px;
  width:100px;
  height:16px;
}
#u38486 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38485_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
