body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16796 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:345px;
}
#u16797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16797 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u16798 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16799 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16800 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16801 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16802 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16803 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16804 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16805 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16806 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16807 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16808 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16809 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16810 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16811 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16812 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16813 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16814 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16815 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16816 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16817 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16818 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16819 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16820 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16821 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16822 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16823 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16824 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16825 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16826 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16827 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16828 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u16829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16829 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u16830 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16831 {
  position:absolute;
  left:320px;
  top:100px;
  width:160px;
  height:25px;
}
#u16831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16831_input {
  font-family:'应用字体';
}
#u16832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16832 {
  position:absolute;
  left:250px;
  top:105px;
  width:90px;
  height:16px;
}
#u16833 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u16834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16834 {
  position:absolute;
  left:520px;
  top:105px;
  width:90px;
  height:16px;
}
#u16835 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u16836 {
  position:absolute;
  left:50px;
  top:100px;
  width:150px;
  height:25px;
}
#u16836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16836_input {
  font-family:'应用字体';
}
#u16836_input:disabled {
  color:grayText;
}
#u16837 {
  position:absolute;
  left:590px;
  top:100px;
  width:160px;
  height:25px;
}
#u16837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16837_input {
  font-family:'应用字体';
}
#u16838 {
  position:absolute;
  left:140px;
  top:20px;
  width:160px;
  height:25px;
}
#u16838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16838_input {
  font-family:'应用字体';
}
#u16839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16839 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u16840 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u16841 {
  position:absolute;
  left:420px;
  top:20px;
  width:160px;
  height:25px;
}
#u16841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16841_input {
  font-family:'应用字体';
}
#u16842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16842 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u16843 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u16844 {
  position:absolute;
  left:700px;
  top:20px;
  width:160px;
  height:25px;
}
#u16844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16844_input {
  font-family:'应用字体';
}
#u16845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16845 {
  position:absolute;
  left:610px;
  top:25px;
  width:107px;
  height:16px;
}
#u16846 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u16847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16847 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u16848 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u16849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16849 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u16850 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u16851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16851 {
  position:absolute;
  left:50px;
  top:65px;
  width:123px;
  height:16px;
}
#u16852 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u16853 {
  position:absolute;
  left:120px;
  top:61px;
  width:160px;
  height:25px;
}
#u16853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16853_input {
  font-family:'应用字体';
}
#u16853_input:disabled {
  color:grayText;
}
