body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21144 {
  position:absolute;
  left:50px;
  top:100px;
  width:205px;
  height:225px;
}
#u21145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21145 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u21146 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21147 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21148 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21149 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u21150 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21151 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21152 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21153 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21154 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21155 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21156 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21157 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21158 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21159 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21160 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21161 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21162 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21163 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21164 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u21165 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u21166 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u21167 {
  position:absolute;
  left:140px;
  top:20px;
  width:160px;
  height:25px;
}
#u21167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21167_input {
  font-family:'应用字体';
}
#u21168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21168 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u21169 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u21170 {
  position:absolute;
  left:420px;
  top:20px;
  width:160px;
  height:25px;
}
#u21170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21170_input {
  font-family:'应用字体';
}
#u21171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21171 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u21172 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u21173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21173 {
  position:absolute;
  left:800px;
  top:60px;
  width:60px;
  height:25px;
}
#u21174 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u21175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21175 {
  position:absolute;
  left:870px;
  top:60px;
  width:60px;
  height:25px;
}
#u21176 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u21177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21177 {
  position:absolute;
  left:50px;
  top:400px;
  width:200px;
  height:48px;
}
#u21178 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
