body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38487 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:405px;
}
#u38488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38488 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38489 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38490 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38491 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38492 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u38493 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38494 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38495 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38496 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38497 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38498 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38499 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38500 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38501 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38502 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38503 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38504 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38505 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38506 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38507 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38508 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38509 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38510 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38511 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38512 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38513 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38514 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38515 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38516 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u38517 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38518 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38519 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38520 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38521 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38522 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38523 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38524 {
  position:absolute;
  left:0px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38525 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38526 {
  position:absolute;
  left:0px;
  top:380px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38527 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38528 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u38528_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38528_input {
  font-family:'应用字体';
}
#u38529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u38529 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
  color:#FF0000;
}
#u38530 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u38531 {
  position:absolute;
  left:400px;
  top:20px;
  width:160px;
  height:25px;
}
#u38531_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38531_input {
  font-family:'应用字体';
}
#u38532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38532 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u38533 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38534 {
  position:absolute;
  left:120px;
  top:61px;
  width:160px;
  height:25px;
}
#u38534_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38534_input {
  font-family:'应用字体';
}
#u38535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38535 {
  position:absolute;
  left:50px;
  top:66px;
  width:107px;
  height:16px;
}
#u38536 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38537 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u38538 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u38539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38539 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u38540 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u38541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38541 {
  position:absolute;
  left:330px;
  top:65px;
  width:123px;
  height:16px;
}
#u38542 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u38543 {
  position:absolute;
  left:680px;
  top:60px;
  width:160px;
  height:25px;
}
#u38543_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38543_input {
  font-family:'应用字体';
}
#u38544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38544 {
  position:absolute;
  left:610px;
  top:65px;
  width:107px;
  height:16px;
}
#u38545 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38546 {
  position:absolute;
  left:330px;
  top:105px;
  width:107px;
  height:16px;
}
#u38547 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38548 {
  position:absolute;
  left:400px;
  top:100px;
  width:160px;
  height:25px;
}
#u38548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38548_input {
  font-family:'应用字体';
}
#u38548_input:disabled {
  color:grayText;
}
#u38549 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:25px;
}
#u38549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38549_input {
  font-family:'应用字体';
}
#u38549_input:disabled {
  color:grayText;
}
#u38550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38550 {
  position:absolute;
  left:50px;
  top:105px;
  width:107px;
  height:16px;
}
#u38551 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38552 {
  position:absolute;
  left:120px;
  top:100px;
  width:160px;
  height:25px;
}
#u38552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38552_input {
  font-family:'应用字体';
}
#u38552_input:disabled {
  color:grayText;
}
#u38553 {
  position:absolute;
  left:610px;
  top:25px;
  width:100px;
  height:16px;
}
#u38554 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38553_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
