body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38672 {
  position:absolute;
  left:50px;
  top:100px;
  width:405px;
  height:385px;
}
#u38673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38673 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38674 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38675 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38676 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38677 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38678 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38679 {
  position:absolute;
  left:200px;
  top:20px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38680 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38681 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u38682 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38683 {
  position:absolute;
  left:200px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38684 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38685 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38686 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38687 {
  position:absolute;
  left:200px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38688 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38689 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38690 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38691 {
  position:absolute;
  left:200px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38692 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38693 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38694 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38695 {
  position:absolute;
  left:200px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38696 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38697 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38698 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38699 {
  position:absolute;
  left:200px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38700 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38701 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38702 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38703 {
  position:absolute;
  left:200px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38704 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38705 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38706 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38707 {
  position:absolute;
  left:200px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38708 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38709 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38710 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38711 {
  position:absolute;
  left:200px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38712 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38713 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38714 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38715 {
  position:absolute;
  left:200px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38716 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38717 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38718 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38719 {
  position:absolute;
  left:200px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38720 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38721 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38722 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38723 {
  position:absolute;
  left:200px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38724 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38725 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38726 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38727 {
  position:absolute;
  left:200px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38728 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38729 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38730 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38731 {
  position:absolute;
  left:200px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38732 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38733 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u38734 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38735 {
  position:absolute;
  left:200px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38736 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38737 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u38738 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38739 {
  position:absolute;
  left:200px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38740 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38741 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38742 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38743 {
  position:absolute;
  left:200px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38744 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38745 {
  position:absolute;
  left:0px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38746 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38747 {
  position:absolute;
  left:200px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u38748 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38749 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u38749_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38749_input {
  font-family:'应用字体';
}
#u38750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u38750 {
  position:absolute;
  left:50px;
  top:26px;
  width:123px;
  height:16px;
  color:#FF0000;
}
#u38751 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u38752 {
  position:absolute;
  left:400px;
  top:20px;
  width:160px;
  height:25px;
}
#u38752_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38752_input {
  font-family:'应用字体';
}
#u38753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38753 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u38754 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38755 {
  position:absolute;
  left:120px;
  top:60px;
  width:160px;
  height:25px;
}
#u38755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38755_input {
  font-family:'应用字体';
}
#u38756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38756 {
  position:absolute;
  left:50px;
  top:65px;
  width:107px;
  height:16px;
}
#u38757 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u38758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38758 {
  position:absolute;
  left:800px;
  top:60px;
  width:60px;
  height:25px;
}
#u38759 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u38760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38760 {
  position:absolute;
  left:870px;
  top:60px;
  width:60px;
  height:25px;
}
#u38761 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u38762 {
  position:absolute;
  left:610px;
  top:25px;
  width:100px;
  height:16px;
}
#u38763 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38762_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u38764 {
  position:absolute;
  left:500px;
  top:300px;
  width:327px;
  height:32px;
  color:#FF0000;
}
#u38765 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
