body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18249 {
  position:absolute;
  left:50px;
  top:100px;
  width:755px;
  height:215px;
}
#u18250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18250 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18251 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18252 {
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18253 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18254 {
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u18255 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18256 {
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18257 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18258 {
  position:absolute;
  left:350px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18259 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18260 {
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18261 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18262 {
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18263 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18264 {
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18265 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18266 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18267 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18268 {
  position:absolute;
  left:50px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18269 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18270 {
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18271 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18272 {
  position:absolute;
  left:250px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18273 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18274 {
  position:absolute;
  left:350px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18275 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18276 {
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18277 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18278 {
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18279 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18280 {
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18281 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18282 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18283 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18284 {
  position:absolute;
  left:50px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18285 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18286 {
  position:absolute;
  left:150px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18287 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18288 {
  position:absolute;
  left:250px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18289 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18290 {
  position:absolute;
  left:350px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18291 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18292 {
  position:absolute;
  left:450px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18293 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18294 {
  position:absolute;
  left:550px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18295 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18296 {
  position:absolute;
  left:650px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18297 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18298 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18299 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18300 {
  position:absolute;
  left:50px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18301 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18302 {
  position:absolute;
  left:150px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18303 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18304 {
  position:absolute;
  left:250px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18305 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18306 {
  position:absolute;
  left:350px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18307 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18308 {
  position:absolute;
  left:450px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18309 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18310 {
  position:absolute;
  left:550px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18311 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18312 {
  position:absolute;
  left:650px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18313 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18314 {
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18315 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18316 {
  position:absolute;
  left:50px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18317 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18318 {
  position:absolute;
  left:150px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18319 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18320 {
  position:absolute;
  left:250px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18321 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18322 {
  position:absolute;
  left:350px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18323 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18324 {
  position:absolute;
  left:450px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18325 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18326 {
  position:absolute;
  left:550px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18327 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18328 {
  position:absolute;
  left:650px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18329 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18330 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18331 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18332 {
  position:absolute;
  left:50px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18333 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18334 {
  position:absolute;
  left:150px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18335 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18336 {
  position:absolute;
  left:250px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18337 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18338 {
  position:absolute;
  left:350px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18339 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18340 {
  position:absolute;
  left:450px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18341 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18342 {
  position:absolute;
  left:550px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18343 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18344 {
  position:absolute;
  left:650px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18345 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18346 {
  position:absolute;
  left:0px;
  top:180px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18347 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18348 {
  position:absolute;
  left:50px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18349 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18350 {
  position:absolute;
  left:150px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18351 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18352 {
  position:absolute;
  left:250px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18353 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18354 {
  position:absolute;
  left:350px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18355 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18356 {
  position:absolute;
  left:450px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18357 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18358 {
  position:absolute;
  left:550px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18359 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18360 {
  position:absolute;
  left:650px;
  top:180px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18361 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18362 {
  position:absolute;
  left:50px;
  top:350px;
  width:350px;
  height:80px;
}
#u18363 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u18364 {
  position:absolute;
  left:320px;
  top:60px;
  width:160px;
  height:25px;
}
#u18364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18364_input {
  font-family:'应用字体';
}
#u18365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18365 {
  position:absolute;
  left:250px;
  top:65px;
  width:90px;
  height:16px;
}
#u18366 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18367 {
  position:absolute;
  left:520px;
  top:65px;
  width:90px;
  height:16px;
}
#u18368 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18369 {
  position:absolute;
  left:50px;
  top:60px;
  width:150px;
  height:25px;
}
#u18369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18369_input {
  font-family:'应用字体';
}
#u18369_input:disabled {
  color:grayText;
}
#u18370 {
  position:absolute;
  left:590px;
  top:60px;
  width:160px;
  height:25px;
}
#u18370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18370_input {
  font-family:'应用字体';
}
#u18371 {
  position:absolute;
  left:140px;
  top:20px;
  width:160px;
  height:25px;
}
#u18371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18371_input {
  font-family:'应用字体';
}
#u18372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u18372 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
  color:#FF0000;
}
#u18373 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u18374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18374 {
  position:absolute;
  left:800px;
  top:60px;
  width:60px;
  height:25px;
}
#u18375 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u18376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18376 {
  position:absolute;
  left:870px;
  top:60px;
  width:60px;
  height:25px;
}
#u18377 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u18378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18378 {
  position:absolute;
  left:330px;
  top:25px;
  width:123px;
  height:16px;
}
#u18379 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u18380 {
  position:absolute;
  left:400px;
  top:20px;
  width:160px;
  height:25px;
}
#u18380_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18380_input {
  font-family:'应用字体';
}
#u18380_input:disabled {
  color:grayText;
}
#u18381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18381 {
  position:absolute;
  left:600px;
  top:25px;
  width:123px;
  height:16px;
}
#u18382 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u18383 {
  position:absolute;
  left:670px;
  top:20px;
  width:160px;
  height:25px;
}
#u18383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18383_input {
  font-family:'应用字体';
}
#u18383_input:disabled {
  color:grayText;
}
#u18384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18384 {
  position:absolute;
  left:860px;
  top:25px;
  width:123px;
  height:16px;
}
#u18385 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u18386 {
  position:absolute;
  left:930px;
  top:20px;
  width:160px;
  height:25px;
}
#u18386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18386_input {
  font-family:'应用字体';
}
#u18386_input:disabled {
  color:grayText;
}
#u18387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u18387 {
  position:absolute;
  left:450px;
  top:550px;
  width:317px;
  height:50px;
  line-height:20px;
}
#u18388 {
  position:absolute;
  left:5px;
  top:5px;
  width:307px;
  white-space:nowrap;
}
