body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30472 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:365px;
}
#u30473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30473 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u30474 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30475 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30476 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30477 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30478 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30479 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30480 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30481 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30482 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30483 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30484 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30485 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30486 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30487 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30488 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30489 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30490 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30491 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u30492 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30493 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30494 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30495 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30496 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30497 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30498 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30499 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30500 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30501 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30502 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30503 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30504 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30505 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30506 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u30507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30507 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  text-align:center;
}
#u30508 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30509 {
  position:absolute;
  left:320px;
  top:100px;
  width:160px;
  height:25px;
}
#u30509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30509_input {
  font-family:'应用字体';
}
#u30510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30510 {
  position:absolute;
  left:250px;
  top:105px;
  width:90px;
  height:16px;
}
#u30511 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30512 {
  position:absolute;
  left:520px;
  top:105px;
  width:90px;
  height:16px;
}
#u30513 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30514 {
  position:absolute;
  left:50px;
  top:100px;
  width:150px;
  height:25px;
}
#u30514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30514_input {
  font-family:'应用字体';
}
#u30514_input:disabled {
  color:grayText;
}
#u30515 {
  position:absolute;
  left:590px;
  top:100px;
  width:160px;
  height:25px;
}
#u30515_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30515_input {
  font-family:'应用字体';
}
#u30516 {
  position:absolute;
  left:140px;
  top:20px;
  width:160px;
  height:25px;
}
#u30516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30516_input {
  font-family:'应用字体';
}
#u30517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30517 {
  position:absolute;
  left:50px;
  top:25px;
  width:107px;
  height:16px;
}
#u30518 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30519 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u30520 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u30521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30521 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u30522 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u30523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30523 {
  position:absolute;
  left:50px;
  top:65px;
  width:123px;
  height:16px;
}
#u30524 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u30525 {
  position:absolute;
  left:400px;
  top:60px;
  width:160px;
  height:25px;
}
#u30525_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30525_input {
  font-family:'应用字体';
}
#u30526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30526 {
  position:absolute;
  left:330px;
  top:65px;
  width:107px;
  height:16px;
}
#u30527 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30528 {
  position:absolute;
  left:610px;
  top:65px;
  width:107px;
  height:16px;
}
#u30529 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u30530 {
  position:absolute;
  left:680px;
  top:60px;
  width:160px;
  height:25px;
}
#u30530_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30530_input {
  font-family:'应用字体';
}
#u30530_input:disabled {
  color:grayText;
}
#u30531 {
  position:absolute;
  left:120px;
  top:61px;
  width:160px;
  height:25px;
}
#u30531_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30531_input {
  font-family:'应用字体';
}
#u30531_input:disabled {
  color:grayText;
}
#u30532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u30532 {
  position:absolute;
  left:450px;
  top:350px;
  width:317px;
  height:50px;
  line-height:20px;
}
#u30533 {
  position:absolute;
  left:5px;
  top:5px;
  width:307px;
  white-space:nowrap;
}
