body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:955px;
  height:1035px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:30px;
}
#u3 {
  position:absolute;
  left:100px;
  top:0px;
  width:850px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:846px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:100px;
}
#u7 {
  position:absolute;
  left:100px;
  top:30px;
  width:850px;
  height:100px;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:42px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:0px;
  top:130px;
  width:100px;
  height:100px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:100px;
}
#u11 {
  position:absolute;
  left:100px;
  top:130px;
  width:850px;
  height:100px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:100px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:100px;
}
#u15 {
  position:absolute;
  left:100px;
  top:230px;
  width:850px;
  height:100px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:100px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:100px;
}
#u19 {
  position:absolute;
  left:100px;
  top:330px;
  width:850px;
  height:100px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:100px;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:100px;
}
#u23 {
  position:absolute;
  left:100px;
  top:430px;
  width:850px;
  height:100px;
  text-align:center;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:300px;
}
#u25 {
  position:absolute;
  left:0px;
  top:530px;
  width:100px;
  height:300px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:118px;
  width:96px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:300px;
}
#u27 {
  position:absolute;
  left:100px;
  top:530px;
  width:850px;
  height:300px;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:142px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u29 {
  position:absolute;
  left:0px;
  top:830px;
  width:100px;
  height:200px;
  text-align:center;
}
#u30 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:200px;
}
#u31 {
  position:absolute;
  left:100px;
  top:830px;
  width:850px;
  height:200px;
  text-align:center;
}
#u32 {
  position:absolute;
  left:2px;
  top:92px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:420px;
  top:100px;
  width:150px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:420px;
  top:500px;
  width:150px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:280px;
  top:600px;
  width:150px;
  height:60px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:280px;
  top:920px;
  width:150px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:560px;
  top:1000px;
  width:150px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:495px;
  top:560px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u43_seg1 {
  position:absolute;
  left:-144px;
  top:16px;
  width:148px;
  height:8px;
}
#u43_seg2 {
  position:absolute;
  left:-144px;
  top:16px;
  width:8px;
  height:24px;
}
#u43_seg3 {
  position:absolute;
  left:-150px;
  top:25px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:-120px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:495px;
  top:560px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u45_seg1 {
  position:absolute;
  left:-4px;
  top:16px;
  width:148px;
  height:8px;
}
#u45_seg2 {
  position:absolute;
  left:136px;
  top:16px;
  width:8px;
  height:24px;
}
#u45_seg3 {
  position:absolute;
  left:130px;
  top:25px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:20px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:760px;
  top:1000px;
  width:150px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:570px;
  top:530px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:269px;
  height:8px;
}
#u49_seg1 {
  position:absolute;
  left:261px;
  top:-4px;
  width:8px;
  height:474px;
}
#u49_seg2 {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:215px;
  top:86px;
  width:100px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u51 {
  position:absolute;
  left:560px;
  top:800px;
  width:150px;
  height:60px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u51_ann {
  position:absolute;
  left:703px;
  top:796px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:430px;
  top:950px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u53_seg1 {
  position:absolute;
  left:66px;
  top:-124px;
  width:8px;
  height:128px;
}
#u53_seg2 {
  position:absolute;
  left:66px;
  top:-124px;
  width:64px;
  height:8px;
}
#u53_seg3 {
  position:absolute;
  left:115px;
  top:-130px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:20px;
  top:-71px;
  width:100px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:635px;
  top:660px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u55_seg1 {
  position:absolute;
  left:-10px;
  top:125px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:355px;
  top:980px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u57_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:209px;
  height:8px;
}
#u57_seg2 {
  position:absolute;
  left:-10px;
  top:-5px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:28px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:635px;
  top:860px;
  width:0px;
  height:0px;
}
#u59_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u59_seg1 {
  position:absolute;
  left:-10px;
  top:-5px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:280px;
  top:700px;
  width:150px;
  height:60px;
}
#u62 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:495px;
  top:160px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:344px;
}
#u63_seg1 {
  position:absolute;
  left:-10px;
  top:325px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:-50px;
  top:162px;
  width:100px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:50px;
  top:1100px;
  width:489px;
  height:64px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:50px;
  top:1200px;
  width:424px;
  height:64px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:280px;
  top:800px;
  width:150px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:339px;
  top:760px;
  width:25px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:250px;
  top:590px;
  width:210px;
  height:280px;
}
#u74 {
  position:absolute;
  left:2px;
  top:132px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:355px;
  top:660px;
  width:0px;
  height:0px;
}
#u75_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u75_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:355px;
  top:760px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u77_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:355px;
  top:920px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  position:absolute;
  left:-4px;
  top:-60px;
  width:8px;
  height:64px;
}
#u79_seg1 {
  position:absolute;
  left:-10px;
  top:-65px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:280px;
  top:300px;
  width:150px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:560px;
  top:400px;
  width:150px;
  height:60px;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:420px;
  top:130px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u85_seg1 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:174px;
}
#u85_seg2 {
  position:absolute;
  left:-75px;
  top:157px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:-115px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:570px;
  top:130px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u87_seg1 {
  position:absolute;
  left:61px;
  top:-4px;
  width:8px;
  height:274px;
}
#u87_seg2 {
  position:absolute;
  left:55px;
  top:257px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:15px;
  top:94px;
  width:100px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u89 {
  position:absolute;
  left:560px;
  top:600px;
  width:150px;
  height:60px;
}
#u90 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u89_ann {
  position:absolute;
  left:703px;
  top:596px;
  width:1px;
  height:1px;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:50px;
  top:1300px;
  width:684px;
  height:64px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:100px;
  top:100px;
  visibility:hidden;
}
#u94_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u94_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u96 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:180px;
  top:200px;
  width:150px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:495px;
  top:100px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u99_seg1 {
  position:absolute;
  left:-244px;
  top:-14px;
  width:248px;
  height:8px;
}
#u99_seg2 {
  position:absolute;
  left:-244px;
  top:-14px;
  width:8px;
  height:114px;
}
#u99_seg3 {
  position:absolute;
  left:-250px;
  top:87px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:-220px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
