body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u837 {
  position:absolute;
  left:50px;
  top:50px;
  width:805px;
  height:1635px;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u839 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u840 {
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u841 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u842 {
  position:absolute;
  left:300px;
  top:0px;
  width:500px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u843 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u844 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u845 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u846 {
  position:absolute;
  left:100px;
  top:30px;
  width:200px;
  height:30px;
  text-align:center;
}
#u847 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u848 {
  position:absolute;
  left:300px;
  top:30px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u849 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u850 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u851 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u852 {
  position:absolute;
  left:100px;
  top:60px;
  width:200px;
  height:30px;
  text-align:center;
}
#u853 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u854 {
  position:absolute;
  left:300px;
  top:60px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u855 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u856 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u857 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u858 {
  position:absolute;
  left:100px;
  top:90px;
  width:200px;
  height:30px;
  text-align:center;
}
#u859 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u860 {
  position:absolute;
  left:300px;
  top:90px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u861 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u862 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u863 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u864 {
  position:absolute;
  left:100px;
  top:120px;
  width:200px;
  height:30px;
  text-align:center;
}
#u865 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u866 {
  position:absolute;
  left:300px;
  top:120px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u867 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u868 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  text-align:center;
}
#u869 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u870 {
  position:absolute;
  left:100px;
  top:150px;
  width:200px;
  height:30px;
  text-align:center;
}
#u871 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u872 {
  position:absolute;
  left:300px;
  top:150px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u873 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u874 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:50px;
  text-align:center;
}
#u875 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u876 {
  position:absolute;
  left:100px;
  top:180px;
  width:200px;
  height:50px;
  text-align:center;
}
#u877 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u878 {
  position:absolute;
  left:300px;
  top:180px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
}
#u879 {
  position:absolute;
  left:2px;
  top:9px;
  width:496px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u880 {
  position:absolute;
  left:0px;
  top:230px;
  width:100px;
  height:30px;
  text-align:center;
}
#u881 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u882 {
  position:absolute;
  left:100px;
  top:230px;
  width:200px;
  height:30px;
  text-align:center;
}
#u883 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u884 {
  position:absolute;
  left:300px;
  top:230px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u885 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u886 {
  position:absolute;
  left:0px;
  top:260px;
  width:100px;
  height:30px;
  text-align:center;
}
#u887 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u888 {
  position:absolute;
  left:100px;
  top:260px;
  width:200px;
  height:30px;
  text-align:center;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u890 {
  position:absolute;
  left:300px;
  top:260px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u891 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u892 {
  position:absolute;
  left:0px;
  top:290px;
  width:100px;
  height:70px;
  text-align:center;
}
#u893 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u894 {
  position:absolute;
  left:100px;
  top:290px;
  width:200px;
  height:70px;
  text-align:center;
}
#u895 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:70px;
}
#u896 {
  position:absolute;
  left:300px;
  top:290px;
  width:500px;
  height:70px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u897 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u898 {
  position:absolute;
  left:0px;
  top:360px;
  width:100px;
  height:30px;
  text-align:center;
}
#u899 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u900 {
  position:absolute;
  left:100px;
  top:360px;
  width:200px;
  height:30px;
  text-align:center;
}
#u901 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u902 {
  position:absolute;
  left:300px;
  top:360px;
  width:500px;
  height:30px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u903 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u904 {
  position:absolute;
  left:0px;
  top:390px;
  width:100px;
  height:50px;
  text-align:center;
}
#u905 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u906 {
  position:absolute;
  left:100px;
  top:390px;
  width:200px;
  height:50px;
  text-align:center;
}
#u907 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u908 {
  position:absolute;
  left:300px;
  top:390px;
  width:500px;
  height:50px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u909 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u910 {
  position:absolute;
  left:0px;
  top:440px;
  width:100px;
  height:30px;
  text-align:center;
}
#u911 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u912 {
  position:absolute;
  left:100px;
  top:440px;
  width:200px;
  height:30px;
  text-align:center;
}
#u913 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u914 {
  position:absolute;
  left:300px;
  top:440px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
}
#u915 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u916 {
  position:absolute;
  left:0px;
  top:470px;
  width:100px;
  height:50px;
  text-align:center;
}
#u917 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u918 {
  position:absolute;
  left:100px;
  top:470px;
  width:200px;
  height:50px;
  text-align:center;
}
#u919 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u920 {
  position:absolute;
  left:300px;
  top:470px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u921 {
  position:absolute;
  left:2px;
  top:15px;
  width:496px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u922 {
  position:absolute;
  left:0px;
  top:520px;
  width:100px;
  height:50px;
  text-align:center;
}
#u923 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u924 {
  position:absolute;
  left:100px;
  top:520px;
  width:200px;
  height:50px;
  text-align:center;
}
#u925 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u926 {
  position:absolute;
  left:300px;
  top:520px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u927 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u928 {
  position:absolute;
  left:0px;
  top:570px;
  width:100px;
  height:30px;
  text-align:center;
}
#u929 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u930 {
  position:absolute;
  left:100px;
  top:570px;
  width:200px;
  height:30px;
  text-align:center;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u932 {
  position:absolute;
  left:300px;
  top:570px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u933 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u934 {
  position:absolute;
  left:0px;
  top:600px;
  width:100px;
  height:30px;
  text-align:center;
}
#u935 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u936 {
  position:absolute;
  left:100px;
  top:600px;
  width:200px;
  height:30px;
  text-align:center;
}
#u937 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u938 {
  position:absolute;
  left:300px;
  top:600px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u939 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u940 {
  position:absolute;
  left:0px;
  top:630px;
  width:100px;
  height:30px;
  text-align:center;
}
#u941 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u942 {
  position:absolute;
  left:100px;
  top:630px;
  width:200px;
  height:30px;
  text-align:center;
}
#u943 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u944 {
  position:absolute;
  left:300px;
  top:630px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u945 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u946 {
  position:absolute;
  left:0px;
  top:660px;
  width:100px;
  height:50px;
  text-align:center;
}
#u947 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u948 {
  position:absolute;
  left:100px;
  top:660px;
  width:200px;
  height:50px;
  text-align:center;
}
#u949 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u950 {
  position:absolute;
  left:300px;
  top:660px;
  width:500px;
  height:50px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u951 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u952 {
  position:absolute;
  left:0px;
  top:710px;
  width:100px;
  height:30px;
  text-align:center;
}
#u953 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u954 {
  position:absolute;
  left:100px;
  top:710px;
  width:200px;
  height:30px;
  text-align:center;
}
#u955 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u956 {
  position:absolute;
  left:300px;
  top:710px;
  width:500px;
  height:30px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u957 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u958 {
  position:absolute;
  left:0px;
  top:740px;
  width:100px;
  height:50px;
  text-align:center;
}
#u959 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u960 {
  position:absolute;
  left:100px;
  top:740px;
  width:200px;
  height:50px;
  text-align:center;
}
#u961 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u962 {
  position:absolute;
  left:300px;
  top:740px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u963 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
}
#u964 {
  position:absolute;
  left:0px;
  top:790px;
  width:100px;
  height:150px;
  text-align:center;
}
#u965 {
  position:absolute;
  left:2px;
  top:67px;
  width:96px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u966 {
  position:absolute;
  left:100px;
  top:790px;
  width:200px;
  height:150px;
  text-align:center;
}
#u967 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:150px;
}
#u968 {
  position:absolute;
  left:300px;
  top:790px;
  width:500px;
  height:150px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u969 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u970 {
  position:absolute;
  left:0px;
  top:940px;
  width:100px;
  height:50px;
  text-align:center;
}
#u971 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u972 {
  position:absolute;
  left:100px;
  top:940px;
  width:200px;
  height:50px;
  text-align:center;
}
#u973 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u974 {
  position:absolute;
  left:300px;
  top:940px;
  width:500px;
  height:50px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u975 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u976 {
  position:absolute;
  left:0px;
  top:990px;
  width:100px;
  height:30px;
  text-align:center;
}
#u977 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u978 {
  position:absolute;
  left:100px;
  top:990px;
  width:200px;
  height:30px;
  text-align:center;
}
#u979 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u980 {
  position:absolute;
  left:300px;
  top:990px;
  width:500px;
  height:30px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u981 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u982 {
  position:absolute;
  left:0px;
  top:1020px;
  width:100px;
  height:30px;
  text-align:center;
}
#u983 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u984 {
  position:absolute;
  left:100px;
  top:1020px;
  width:200px;
  height:30px;
  text-align:center;
}
#u985 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u986 {
  position:absolute;
  left:300px;
  top:1020px;
  width:500px;
  height:30px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u987 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
}
#u988 {
  position:absolute;
  left:0px;
  top:1050px;
  width:100px;
  height:150px;
  text-align:center;
}
#u989 {
  position:absolute;
  left:2px;
  top:67px;
  width:96px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u990 {
  position:absolute;
  left:100px;
  top:1050px;
  width:200px;
  height:150px;
  text-align:center;
}
#u991 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:150px;
}
#u992 {
  position:absolute;
  left:300px;
  top:1050px;
  width:500px;
  height:150px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u993 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u994 {
  position:absolute;
  left:0px;
  top:1200px;
  width:100px;
  height:30px;
  text-align:center;
}
#u995 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u996 {
  position:absolute;
  left:100px;
  top:1200px;
  width:200px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u997 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u998 {
  position:absolute;
  left:300px;
  top:1200px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u999 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:1230px;
  width:100px;
  height:30px;
  text-align:center;
}
#u1001 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:100px;
  top:1230px;
  width:200px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u1003 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:300px;
  top:1230px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:140px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:1260px;
  width:100px;
  height:140px;
  text-align:center;
}
#u1007 {
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:140px;
}
#u1008 {
  position:absolute;
  left:100px;
  top:1260px;
  width:200px;
  height:140px;
  color:#000000;
  text-align:center;
}
#u1009 {
  position:absolute;
  left:2px;
  top:62px;
  width:196px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:140px;
}
#u1010 {
  position:absolute;
  left:300px;
  top:1260px;
  width:500px;
  height:140px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:1400px;
  width:100px;
  height:50px;
  text-align:center;
}
#u1013 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1014 {
  position:absolute;
  left:100px;
  top:1400px;
  width:200px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u1015 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u1016 {
  position:absolute;
  left:300px;
  top:1400px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:1450px;
  width:100px;
  height:50px;
  text-align:center;
}
#u1019 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1020 {
  position:absolute;
  left:100px;
  top:1450px;
  width:200px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u1021 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u1022 {
  position:absolute;
  left:300px;
  top:1450px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:1500px;
  width:100px;
  height:30px;
  text-align:center;
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:100px;
  top:1500px;
  width:200px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:300px;
  top:1500px;
  width:500px;
  height:30px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:1530px;
  width:100px;
  height:50px;
  text-align:center;
}
#u1031 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1032 {
  position:absolute;
  left:100px;
  top:1530px;
  width:200px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u1033 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u1034 {
  position:absolute;
  left:300px;
  top:1530px;
  width:500px;
  height:50px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:1580px;
  width:100px;
  height:50px;
  text-align:center;
}
#u1037 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1038 {
  position:absolute;
  left:100px;
  top:1580px;
  width:200px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u1039 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u1040 {
  position:absolute;
  left:300px;
  top:1580px;
  width:500px;
  height:50px;
  color:#0080FF;
  text-align:left;
  line-height:20px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:15px;
  width:496px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:88px;
}
#u1042 {
  position:absolute;
  left:360px;
  top:890px;
  width:433px;
  height:88px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:36px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:91px;
}
#u1044 {
  position:absolute;
  left:360px;
  top:1150px;
  width:416px;
  height:91px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:38px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:360px;
  top:1340px;
  width:470px;
  height:96px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
