body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14381 {
  position:absolute;
  left:50px;
  top:100px;
  width:205px;
  height:465px;
}
#u14382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14382 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14383 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14384 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u14385 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14386 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14387 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14388 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14389 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14390 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14391 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14392 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14393 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14394 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14395 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14396 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14397 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14398 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14399 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14400 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14401 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14402 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u14403 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14404 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u14405 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14406 {
  position:absolute;
  left:0px;
  top:240px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u14407 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14408 {
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u14409 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14410 {
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u14411 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14412 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u14413 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14414 {
  position:absolute;
  left:0px;
  top:320px;
  width:200px;
  height:20px;
  color:#BCBCBC;
  text-align:center;
}
#u14415 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14416 {
  position:absolute;
  left:0px;
  top:340px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u14417 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14418 {
  position:absolute;
  left:0px;
  top:360px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14419 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14420 {
  position:absolute;
  left:0px;
  top:380px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14421 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14422 {
  position:absolute;
  left:0px;
  top:400px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14423 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14424 {
  position:absolute;
  left:0px;
  top:420px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14425 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14426 {
  position:absolute;
  left:0px;
  top:440px;
  width:200px;
  height:20px;
  text-align:center;
}
#u14427 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u14428 {
  position:absolute;
  left:50px;
  top:600px;
  width:573px;
  height:16px;
  color:#FF0000;
}
#u14429 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  white-space:nowrap;
}
#u14430 {
  position:absolute;
  left:320px;
  top:60px;
  width:160px;
  height:25px;
}
#u14430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14430_input {
  font-family:'应用字体';
}
#u14431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14431 {
  position:absolute;
  left:250px;
  top:65px;
  width:90px;
  height:16px;
}
#u14432 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14433 {
  position:absolute;
  left:520px;
  top:65px;
  width:90px;
  height:16px;
}
#u14434 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14435 {
  position:absolute;
  left:50px;
  top:60px;
  width:150px;
  height:25px;
}
#u14435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14435_input {
  font-family:'应用字体';
}
#u14435_input:disabled {
  color:grayText;
}
#u14436 {
  position:absolute;
  left:590px;
  top:60px;
  width:160px;
  height:25px;
}
#u14436_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14436_input {
  font-family:'应用字体';
}
#u14437 {
  position:absolute;
  left:140px;
  top:20px;
  width:160px;
  height:25px;
}
#u14437_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14437_input {
  font-family:'应用字体';
}
#u14438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14438 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u14439 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u14440 {
  position:absolute;
  left:420px;
  top:20px;
  width:160px;
  height:25px;
}
#u14440_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14440_input {
  font-family:'应用字体';
}
#u14441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14441 {
  position:absolute;
  left:330px;
  top:25px;
  width:107px;
  height:16px;
}
#u14442 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u14443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14443 {
  position:absolute;
  left:800px;
  top:60px;
  width:60px;
  height:25px;
}
#u14444 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u14445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14445 {
  position:absolute;
  left:870px;
  top:60px;
  width:60px;
  height:25px;
}
#u14446 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u14447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  line-height:20px;
}
#u14447 {
  position:absolute;
  left:280px;
  top:450px;
  width:400px;
  height:100px;
  color:#FF0000;
  line-height:20px;
}
#u14448 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
