body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29087 {
  position:absolute;
  left:50px;
  top:150px;
  width:205px;
  height:185px;
}
#u29088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29088 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u29089 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29090 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29091 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29092 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29093 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29094 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29095 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29096 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29097 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29098 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29099 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29100 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29101 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29102 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29103 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u29104 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u29105 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u29106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u29106 {
  position:absolute;
  left:50px;
  top:420px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u29107 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29108 {
  position:absolute;
  left:320px;
  top:100px;
  width:160px;
  height:25px;
}
#u29108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29108_input {
  font-family:'应用字体';
}
#u29109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29109 {
  position:absolute;
  left:250px;
  top:105px;
  width:90px;
  height:16px;
}
#u29110 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29111 {
  position:absolute;
  left:520px;
  top:105px;
  width:90px;
  height:16px;
}
#u29112 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u29113 {
  position:absolute;
  left:50px;
  top:100px;
  width:150px;
  height:25px;
}
#u29113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29113_input {
  font-family:'应用字体';
}
#u29113_input:disabled {
  color:grayText;
}
#u29114 {
  position:absolute;
  left:590px;
  top:100px;
  width:160px;
  height:25px;
}
#u29114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29114_input {
  font-family:'应用字体';
}
#u29115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29115 {
  position:absolute;
  left:800px;
  top:100px;
  width:60px;
  height:25px;
}
#u29116 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29117 {
  position:absolute;
  left:870px;
  top:100px;
  width:60px;
  height:25px;
}
#u29118 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u29119 {
  position:absolute;
  left:120px;
  top:60px;
  width:160px;
  height:25px;
}
#u29119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29119_input {
  font-family:'应用字体';
}
#u29120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29120 {
  position:absolute;
  left:50px;
  top:65px;
  width:123px;
  height:16px;
}
#u29121 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u29122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29122 {
  position:absolute;
  left:330px;
  top:65px;
  width:107px;
  height:16px;
}
#u29123 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u29124 {
  position:absolute;
  left:400px;
  top:61px;
  width:160px;
  height:25px;
}
#u29124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29124_input {
  font-family:'应用字体';
}
#u29124_input:disabled {
  color:grayText;
}
