body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23807 {
  position:absolute;
  left:185px;
  top:115px;
  width:1010px;
  height:800px;
}
#u23808 {
  position:absolute;
  left:2px;
  top:392px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23809 {
  position:absolute;
  left:190px;
  top:120px;
  width:1000px;
  height:70px;
}
#u23810 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:35px;
  background:inherit;
  background-color:rgba(234, 241, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23811 {
  position:absolute;
  left:190px;
  top:195px;
  width:1000px;
  height:35px;
}
#u23812 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23813 {
  position:absolute;
  left:190px;
  top:230px;
  width:615px;
  height:185px;
}
#u23814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23814 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23815 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23816 {
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23817 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23818 {
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23819 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23820 {
  position:absolute;
  left:250px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23821 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u23822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23822 {
  position:absolute;
  left:370px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23823 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u23824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23824 {
  position:absolute;
  left:490px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23825 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u23826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23826 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  text-align:left;
}
#u23827 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u23828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23828 {
  position:absolute;
  left:50px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23829 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23830 {
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23831 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23832 {
  position:absolute;
  left:250px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23833 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23834 {
  position:absolute;
  left:370px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23835 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23836 {
  position:absolute;
  left:490px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23837 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23838 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  text-align:left;
}
#u23839 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u23840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23840 {
  position:absolute;
  left:50px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23841 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23842 {
  position:absolute;
  left:150px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23843 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23844 {
  position:absolute;
  left:250px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23845 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23846 {
  position:absolute;
  left:370px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23847 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23848 {
  position:absolute;
  left:490px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23849 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23850 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  text-align:left;
}
#u23851 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u23852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23852 {
  position:absolute;
  left:50px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23853 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23854 {
  position:absolute;
  left:150px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23855 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23856 {
  position:absolute;
  left:250px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23857 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23858 {
  position:absolute;
  left:370px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23859 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23860 {
  position:absolute;
  left:490px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23861 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23862 {
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  text-align:left;
}
#u23863 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u23864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23864 {
  position:absolute;
  left:50px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23865 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23866 {
  position:absolute;
  left:150px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23867 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23868 {
  position:absolute;
  left:250px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23869 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23870 {
  position:absolute;
  left:370px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23871 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23872 {
  position:absolute;
  left:490px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23873 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23874 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  text-align:left;
}
#u23875 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u23876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23876 {
  position:absolute;
  left:50px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23877 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23878 {
  position:absolute;
  left:150px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u23879 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23880 {
  position:absolute;
  left:250px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23881 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23882 {
  position:absolute;
  left:370px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23883 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23884 {
  position:absolute;
  left:490px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u23885 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23886 {
  position:absolute;
  left:190px;
  top:90px;
  width:150px;
  height:25px;
}
#u23887 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u23888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:30px;
}
#u23888 {
  position:absolute;
  left:186px;
  top:885px;
  width:1008px;
  height:30px;
}
#u23889 {
  position:absolute;
  left:2px;
  top:7px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23890 {
  position:absolute;
  left:200px;
  top:200px;
  width:100px;
  height:25px;
}
#u23890_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  background:linear-gradient(180deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23890.mouseOver {
}
#u23891 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u23892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23892 {
  position:absolute;
  left:190px;
  top:410px;
  width:150px;
  height:30px;
}
#u23893 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23894 {
  position:absolute;
  left:340px;
  top:410px;
  width:100px;
  height:30px;
}
#u23895 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23896 {
  position:absolute;
  left:440px;
  top:410px;
  width:120px;
  height:30px;
}
#u23897 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23898 {
  position:absolute;
  left:560px;
  top:410px;
  width:120px;
  height:30px;
}
#u23899 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23900 {
  position:absolute;
  left:680px;
  top:410px;
  width:120px;
  height:30px;
}
#u23901 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u23902 {
  position:absolute;
  left:1220px;
  top:195px;
  width:190px;
  height:32px;
  color:#FF0000;
}
#u23903 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u23904 {
  position:absolute;
  left:470px;
  top:130px;
  width:160px;
  height:25px;
}
#u23904_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23904_input {
  font-family:'应用字体';
}
#u23905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23905 {
  position:absolute;
  left:400px;
  top:135px;
  width:90px;
  height:16px;
}
#u23906 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u23907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23907 {
  position:absolute;
  left:670px;
  top:135px;
  width:90px;
  height:16px;
}
#u23908 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u23909 {
  position:absolute;
  left:200px;
  top:130px;
  width:150px;
  height:25px;
}
#u23909_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23909_input {
  font-family:'应用字体';
}
#u23909_input:disabled {
  color:grayText;
}
#u23910 {
  position:absolute;
  left:740px;
  top:130px;
  width:160px;
  height:25px;
}
#u23910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23910_input {
  font-family:'应用字体';
}
#u23911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23911 {
  position:absolute;
  left:950px;
  top:130px;
  width:60px;
  height:25px;
}
#u23912 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u23913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23913 {
  position:absolute;
  left:1020px;
  top:130px;
  width:60px;
  height:25px;
}
#u23914 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
