body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:135px;
}
#u25904 {
  position:absolute;
  left:20px;
  top:20px;
  width:230px;
  height:135px;
}
#u25905 {
  position:absolute;
  left:2px;
  top:60px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u25906 {
  position:absolute;
  left:35px;
  top:155px;
  width:220px;
  height:80px;
}
#u25907 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
