body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18863 {
  position:absolute;
  left:185px;
  top:115px;
  width:1010px;
  height:800px;
}
#u18864 {
  position:absolute;
  left:2px;
  top:392px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18865 {
  position:absolute;
  left:190px;
  top:120px;
  width:1000px;
  height:70px;
}
#u18866 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18867 {
  position:absolute;
  left:215px;
  top:132px;
  width:66px;
  height:16px;
}
#u18868 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18869 {
  position:absolute;
  left:815px;
  top:132px;
  width:66px;
  height:16px;
}
#u18870 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18871 {
  position:absolute;
  left:885px;
  top:130px;
  width:150px;
  height:20px;
}
#u18871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18871_input {
  font-family:'应用字体';
}
#u18872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18872 {
  position:absolute;
  left:515px;
  top:132px;
  width:66px;
  height:16px;
}
#u18873 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18874 {
  position:absolute;
  left:1065px;
  top:160px;
  width:50px;
  height:20px;
}
#u18875 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u18876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18876 {
  position:absolute;
  left:1125px;
  top:160px;
  width:50px;
  height:20px;
}
#u18877 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u18878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:35px;
  background:inherit;
  background-color:rgba(234, 241, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18878 {
  position:absolute;
  left:190px;
  top:195px;
  width:1000px;
  height:35px;
}
#u18879 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18880 {
  position:absolute;
  left:190px;
  top:230px;
  width:945px;
  height:185px;
}
#u18881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18881 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18882 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18883 {
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18884 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18885 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18886 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u18887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18887 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18888 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18889 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18890 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18891 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18892 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18893 {
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18894 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u18895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18895 {
  position:absolute;
  left:720px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18896 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u18897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18897 {
  position:absolute;
  left:840px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u18898 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18899 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18900 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18901 {
  position:absolute;
  left:50px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18902 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18903 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
  text-align:left;
}
#u18904 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u18905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18905 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18906 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18907 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18908 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18909 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18910 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18911 {
  position:absolute;
  left:600px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18912 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18913 {
  position:absolute;
  left:720px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18914 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18915 {
  position:absolute;
  left:840px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18916 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18917 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18918 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18919 {
  position:absolute;
  left:50px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18920 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18921 {
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u18922 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u18923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18923 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18924 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18925 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18926 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18927 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18928 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18929 {
  position:absolute;
  left:600px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18930 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18931 {
  position:absolute;
  left:720px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18932 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18933 {
  position:absolute;
  left:840px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18934 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18935 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18936 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u18937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18937 {
  position:absolute;
  left:50px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18938 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18939 {
  position:absolute;
  left:150px;
  top:90px;
  width:150px;
  height:30px;
  text-align:left;
}
#u18940 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u18941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18941 {
  position:absolute;
  left:300px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18942 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18943 {
  position:absolute;
  left:400px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18944 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18945 {
  position:absolute;
  left:500px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18946 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18947 {
  position:absolute;
  left:600px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18948 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18949 {
  position:absolute;
  left:720px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18950 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18951 {
  position:absolute;
  left:840px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18952 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18953 {
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18954 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18955 {
  position:absolute;
  left:50px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18956 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18957 {
  position:absolute;
  left:150px;
  top:120px;
  width:150px;
  height:30px;
  text-align:left;
}
#u18958 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18959 {
  position:absolute;
  left:300px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18960 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18961 {
  position:absolute;
  left:400px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18962 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18963 {
  position:absolute;
  left:500px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18964 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18965 {
  position:absolute;
  left:600px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18966 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18967 {
  position:absolute;
  left:720px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18968 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18969 {
  position:absolute;
  left:840px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18970 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18971 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  text-align:left;
}
#u18972 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18973 {
  position:absolute;
  left:50px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18974 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18975 {
  position:absolute;
  left:150px;
  top:150px;
  width:150px;
  height:30px;
  text-align:left;
}
#u18976 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18977 {
  position:absolute;
  left:300px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18978 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18979 {
  position:absolute;
  left:400px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18980 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18981 {
  position:absolute;
  left:500px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18982 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18983 {
  position:absolute;
  left:600px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18984 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u18985 {
  position:absolute;
  left:720px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u18986 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18987 {
  position:absolute;
  left:840px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u18988 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18989 {
  position:absolute;
  left:190px;
  top:90px;
  width:150px;
  height:25px;
}
#u18990 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u18991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:30px;
}
#u18991 {
  position:absolute;
  left:186px;
  top:885px;
  width:1008px;
  height:30px;
}
#u18992 {
  position:absolute;
  left:2px;
  top:7px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18993 {
  position:absolute;
  left:200px;
  top:200px;
  width:100px;
  height:25px;
}
#u18993_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  background:linear-gradient(180deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18993.mouseOver {
}
#u18994 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u18995 {
  position:absolute;
  left:585px;
  top:130px;
  width:150px;
  height:20px;
}
#u18995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18995_input {
  font-family:'应用字体';
}
#u18996 {
  position:absolute;
  left:285px;
  top:130px;
  width:150px;
  height:20px;
}
#u18996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18996_input {
  font-family:'应用字体';
}
#u18997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18997 {
  position:absolute;
  left:215px;
  top:162px;
  width:66px;
  height:16px;
}
#u18998 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18999 {
  position:absolute;
  left:285px;
  top:160px;
  width:150px;
  height:20px;
}
#u18999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18999_input {
  font-family:'应用字体';
}
#u19000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19000 {
  position:absolute;
  left:1220px;
  top:195px;
  width:190px;
  height:32px;
  color:#FF0000;
}
#u19001 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u19002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19002 {
  position:absolute;
  left:190px;
  top:410px;
  width:500px;
  height:30px;
}
#u19003 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u19004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19004 {
  position:absolute;
  left:690px;
  top:410px;
  width:100px;
  height:30px;
}
#u19005 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19006 {
  position:absolute;
  left:790px;
  top:410px;
  width:120px;
  height:30px;
}
#u19007 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19008 {
  position:absolute;
  left:910px;
  top:410px;
  width:120px;
  height:30px;
}
#u19009 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19010 {
  position:absolute;
  left:1030px;
  top:410px;
  width:100px;
  height:30px;
}
#u19011 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
