body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28790 {
  position:absolute;
  left:50px;
  top:180px;
  width:205px;
  height:245px;
}
#u28791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28791 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u28792 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28793 {
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28794 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28795 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:20px;
  text-align:center;
}
#u28796 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28797 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:20px;
  text-align:center;
}
#u28798 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28799 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:20px;
  text-align:center;
}
#u28800 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28801 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28802 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28803 {
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28804 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28805 {
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28806 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28807 {
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28808 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28809 {
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28810 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28811 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28812 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28813 {
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:20px;
  color:#0080FF;
  text-align:center;
}
#u28814 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u28815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u28815 {
  position:absolute;
  left:50px;
  top:450px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u28816 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28817 {
  position:absolute;
  left:320px;
  top:130px;
  width:160px;
  height:25px;
}
#u28817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28817_input {
  font-family:'应用字体';
}
#u28818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28818 {
  position:absolute;
  left:250px;
  top:135px;
  width:90px;
  height:16px;
}
#u28819 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28820 {
  position:absolute;
  left:520px;
  top:135px;
  width:90px;
  height:16px;
}
#u28821 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28822 {
  position:absolute;
  left:50px;
  top:130px;
  width:150px;
  height:25px;
}
#u28822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28822_input {
  font-family:'应用字体';
}
#u28822_input:disabled {
  color:grayText;
}
#u28823 {
  position:absolute;
  left:590px;
  top:130px;
  width:160px;
  height:25px;
}
#u28823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28823_input {
  font-family:'应用字体';
}
#u28824 {
  position:absolute;
  left:120px;
  top:20px;
  width:160px;
  height:25px;
}
#u28824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28824_input {
  font-family:'应用字体';
}
#u28825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28825 {
  position:absolute;
  left:50px;
  top:25px;
  width:123px;
  height:16px;
}
#u28826 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u28827 {
  position:absolute;
  left:120px;
  top:55px;
  width:160px;
  height:25px;
}
#u28827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28827_input {
  font-family:'应用字体';
}
#u28828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28828 {
  position:absolute;
  left:50px;
  top:60px;
  width:107px;
  height:16px;
}
#u28829 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u28830 {
  position:absolute;
  left:400px;
  top:55px;
  width:160px;
  height:25px;
}
#u28830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28830_input {
  font-family:'应用字体';
}
#u28831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28831 {
  position:absolute;
  left:330px;
  top:60px;
  width:107px;
  height:16px;
}
#u28832 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u28833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28833 {
  position:absolute;
  left:800px;
  top:130px;
  width:60px;
  height:25px;
}
#u28834 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u28835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28835 {
  position:absolute;
  left:870px;
  top:130px;
  width:60px;
  height:25px;
}
#u28836 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u28837 {
  position:absolute;
  left:120px;
  top:90px;
  width:160px;
  height:25px;
}
#u28837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28837_input {
  font-family:'应用字体';
}
#u28838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28838 {
  position:absolute;
  left:50px;
  top:95px;
  width:123px;
  height:16px;
}
#u28839 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u28840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28840 {
  position:absolute;
  left:330px;
  top:95px;
  width:107px;
  height:16px;
}
#u28841 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u28842 {
  position:absolute;
  left:680px;
  top:90px;
  width:160px;
  height:25px;
}
#u28842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28842_input {
  font-family:'应用字体';
}
#u28843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28843 {
  position:absolute;
  left:610px;
  top:95px;
  width:107px;
  height:16px;
}
#u28844 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u28845 {
  position:absolute;
  left:400px;
  top:90px;
  width:160px;
  height:25px;
}
#u28845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28845_input {
  font-family:'应用字体';
}
#u28845_input:disabled {
  color:grayText;
}
#u28846 {
  position:absolute;
  left:330px;
  top:25px;
  width:100px;
  height:16px;
}
#u28847 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28846_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
