body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28848 {
  position:absolute;
  left:185px;
  top:115px;
  width:1010px;
  height:800px;
}
#u28849 {
  position:absolute;
  left:2px;
  top:392px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28850 {
  position:absolute;
  left:190px;
  top:120px;
  width:1000px;
  height:70px;
}
#u28851 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28852 {
  position:absolute;
  left:215px;
  top:132px;
  width:66px;
  height:16px;
}
#u28853 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28854 {
  position:absolute;
  left:815px;
  top:132px;
  width:66px;
  height:16px;
}
#u28855 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28856 {
  position:absolute;
  left:885px;
  top:130px;
  width:150px;
  height:20px;
}
#u28856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28856_input {
  font-family:'应用字体';
}
#u28857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28857 {
  position:absolute;
  left:515px;
  top:132px;
  width:66px;
  height:16px;
}
#u28858 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28859 {
  position:absolute;
  left:1065px;
  top:160px;
  width:50px;
  height:20px;
}
#u28860 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u28861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 255, 253, 1) 0%, rgba(252, 255, 253, 1) 0%, rgba(243, 251, 252, 1) 47%, rgba(221, 230, 234, 1) 52%, rgba(221, 230, 236, 1) 100%, rgba(221, 230, 236, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28861 {
  position:absolute;
  left:1125px;
  top:160px;
  width:50px;
  height:20px;
}
#u28862 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u28863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:35px;
  background:inherit;
  background-color:rgba(234, 241, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28863 {
  position:absolute;
  left:190px;
  top:195px;
  width:1000px;
  height:35px;
}
#u28864 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28865 {
  position:absolute;
  left:190px;
  top:230px;
  width:945px;
  height:185px;
}
#u28866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28866 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28867 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28868 {
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28869 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28870 {
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28871 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28872 {
  position:absolute;
  left:250px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28873 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u28874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28874 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28875 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28876 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28877 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28878 {
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28879 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u28880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28880 {
  position:absolute;
  left:720px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28881 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u28882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28882 {
  position:absolute;
  left:840px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28883 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28884 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  text-align:left;
}
#u28885 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u28886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28886 {
  position:absolute;
  left:50px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28887 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28888 {
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28889 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28890 {
  position:absolute;
  left:250px;
  top:30px;
  width:150px;
  height:30px;
  text-align:left;
}
#u28891 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u28892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28892 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28893 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28894 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28895 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28896 {
  position:absolute;
  left:600px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28897 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28898 {
  position:absolute;
  left:720px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28899 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28900 {
  position:absolute;
  left:840px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28901 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28902 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  text-align:left;
}
#u28903 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u28904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28904 {
  position:absolute;
  left:50px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28905 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28906 {
  position:absolute;
  left:150px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28907 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28908 {
  position:absolute;
  left:250px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u28909 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u28910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28910 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28911 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28912 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28913 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28914 {
  position:absolute;
  left:600px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28915 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28916 {
  position:absolute;
  left:720px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28917 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28918 {
  position:absolute;
  left:840px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28919 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28920 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
  text-align:left;
}
#u28921 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u28922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28922 {
  position:absolute;
  left:50px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28923 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28924 {
  position:absolute;
  left:150px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28925 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28926 {
  position:absolute;
  left:250px;
  top:90px;
  width:150px;
  height:30px;
  text-align:left;
}
#u28927 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u28928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28928 {
  position:absolute;
  left:400px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28929 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28930 {
  position:absolute;
  left:500px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28931 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28932 {
  position:absolute;
  left:600px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28933 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28934 {
  position:absolute;
  left:720px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28935 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28936 {
  position:absolute;
  left:840px;
  top:90px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28937 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28938 {
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:30px;
  text-align:left;
}
#u28939 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28940 {
  position:absolute;
  left:50px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28941 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28942 {
  position:absolute;
  left:150px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28943 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28944 {
  position:absolute;
  left:250px;
  top:120px;
  width:150px;
  height:30px;
  text-align:left;
}
#u28945 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28946 {
  position:absolute;
  left:400px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28947 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28948 {
  position:absolute;
  left:500px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28949 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28950 {
  position:absolute;
  left:600px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28951 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28952 {
  position:absolute;
  left:720px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28953 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28954 {
  position:absolute;
  left:840px;
  top:120px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28955 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u28956 {
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:30px;
  text-align:left;
}
#u28957 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28958 {
  position:absolute;
  left:50px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28959 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28960 {
  position:absolute;
  left:150px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28961 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u28962 {
  position:absolute;
  left:250px;
  top:150px;
  width:150px;
  height:30px;
  text-align:left;
}
#u28963 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28964 {
  position:absolute;
  left:400px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28965 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28966 {
  position:absolute;
  left:500px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28967 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28968 {
  position:absolute;
  left:600px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28969 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u28970 {
  position:absolute;
  left:720px;
  top:150px;
  width:120px;
  height:30px;
  text-align:left;
}
#u28971 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28972 {
  position:absolute;
  left:840px;
  top:150px;
  width:100px;
  height:30px;
  text-align:left;
}
#u28973 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 179, 179, 1);
  border-bottom:0px;
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28974 {
  position:absolute;
  left:190px;
  top:90px;
  width:150px;
  height:25px;
}
#u28975 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u28976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:30px;
}
#u28976 {
  position:absolute;
  left:186px;
  top:885px;
  width:1008px;
  height:30px;
}
#u28977 {
  position:absolute;
  left:2px;
  top:7px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28978 {
  position:absolute;
  left:200px;
  top:200px;
  width:100px;
  height:25px;
}
#u28978_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  background:linear-gradient(180deg, rgba(251, 230, 165, 1) 0%, rgba(251, 230, 165, 1) 0%, rgba(247, 226, 145, 1) 46%, rgba(248, 226, 143, 1) 49%, rgba(248, 245, 212, 1) 100%, rgba(248, 245, 212, 1) 100%);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28978.mouseOver {
}
#u28979 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u28980 {
  position:absolute;
  left:585px;
  top:130px;
  width:150px;
  height:20px;
}
#u28980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28980_input {
  font-family:'应用字体';
}
#u28981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u28981 {
  position:absolute;
  left:1280px;
  top:230px;
  width:190px;
  height:32px;
  color:#FF0000;
}
#u28982 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u28983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28983 {
  position:absolute;
  left:190px;
  top:410px;
  width:500px;
  height:30px;
}
#u28984 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u28985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28985 {
  position:absolute;
  left:690px;
  top:410px;
  width:100px;
  height:30px;
}
#u28986 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28987 {
  position:absolute;
  left:790px;
  top:410px;
  width:120px;
  height:30px;
}
#u28988 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28989 {
  position:absolute;
  left:910px;
  top:410px;
  width:120px;
  height:30px;
}
#u28990 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28991 {
  position:absolute;
  left:1030px;
  top:410px;
  width:100px;
  height:30px;
}
#u28992 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28993 {
  position:absolute;
  left:285px;
  top:130px;
  width:150px;
  height:20px;
}
#u28993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28993_input {
  font-family:'应用字体';
}
#u28994 {
  position:absolute;
  left:485px;
  top:160px;
  width:160px;
  height:25px;
}
#u28994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28994_input {
  font-family:'应用字体';
}
#u28995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28995 {
  position:absolute;
  left:415px;
  top:165px;
  width:90px;
  height:16px;
}
#u28996 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28997 {
  position:absolute;
  left:685px;
  top:165px;
  width:90px;
  height:16px;
}
#u28998 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28999 {
  position:absolute;
  left:215px;
  top:160px;
  width:150px;
  height:25px;
}
#u28999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28999_input {
  font-family:'应用字体';
}
#u28999_input:disabled {
  color:grayText;
}
#u29000 {
  position:absolute;
  left:755px;
  top:160px;
  width:160px;
  height:25px;
}
#u29000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29000_input {
  font-family:'应用字体';
}
